@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/Patient Pages/patientSide.css">
    <link rel="stylesheet" href="international-telephone-input.css" />
    <script src="https://kit.fontawesome.com/558bd69c1f.js" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <title>Patient Side Mobile</title>
</head>

<body>
    <div class="position-relative ">
        <partial name="_headerPartialView" />


        <div class="main-container">
            <div class="container login-container d-flex flex-column justify-content-between ms-auto me-auto pt-4 pb-5">

                <div class=" text-center  login-logo ">
                    <img src="../images/SRS Screen Shorts/logo.png" class="img-fluid" alt="Image Not Available">
                </div>



                <div class="row container  justify-content-center  ms-0">
                    <div class="col-12  m-2 h-50  w-75 d-flex align-items-center justify-content-center rounded-2  "
                        style="background-color: #55d3e9">
                        <a  asp-controller="Home" asp-action="patientSubmitReq" class="text-decoration-none fw-bold " style="color: #f1f0f3">Submit A Request</a>
                    </div>
                    <div class="col-12   m-2 h-50  w-75 d-flex align-items-center justify-content-center rounded-2 "
                        style="background-color: #2f0cf3">
                        <a asp-controller="Home" asp-action="patientLogin" class="text-decoration-none fw-bold"
                            style="color: #f2f4f5">Register Patient</a>
                    </div>

                </div>
                <partial name="_footerPartialView" />
            </div>
        </div>

    </div>
    <script src="../js/darkmode.js"></script>

<script src="international-telephone-input.js"></script>
</body>

</html>