
<div class="mb-1 pt-lg-2 d-flex justify-content-center">
    <a href="#" class="terms mx-2" style="text-decoration: none;">Terms of Condition </a>
    <span class="terms">|</span>
    <a href="#" class="terms mx-2" style="text-decoration: none;"> Privacy Policy</a>
</div>