<div class="login-bg-img position-absolute">
    <img src="../images/SRS Screen Shorts/11116016_415.jpg" alt=""
         class="img-fluid object-fit-cover h-100 w-100">
</div>

<div class="position-absolute top-0 end-0 m-4">
    <button type="button" class="btn btn-outline-dark border-info ">
        <i class="bi bi-moon text-info fs-4"
           id="btnSwitch"></i>
    </button>
</div>